@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastrado";
}

<ul>
    <li>
        @ViewBag.Pessoa.Nome
    </li>
    <li>
        @ViewBag.Pessoa.DataNascimento
    </li>
    <li>
        @ViewBag.Pessoa.Cpf 
    </li>
</ul>




